<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h2> Registration</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the username"><br>
    <input type="text" name="first_name" placeholder="Enter the first name"><br>
    <input type="text" name="last_name" placeholder="Enter the last name"><br>
    <input type="email" name="email" placeholder="Enter the email"><br>
    <input type="password" name="password" placeholder="Enter the password"><br>
    <input type="password" name="password1" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>